body {
    padding: 0;
    margin: 0;
  }
  #unity-container {
    position: absolute;
  }
  #unity-container.unity-desktop {
    margin-left: auto;
    margin-right: auto;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(0%, -50%); */
  }
  #unity-container.unity-mobile {
    width: 100%;
    height: 100%;
  }
  #unity-canvas {
    background: #231f20;
  }
  .unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
  }
  #unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  #unity-logo {
    width: 154px;
    height: 130px;
    background: url("unity-logo-dark.png") no-repeat center;
  }
  #unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url("progress-bar-empty-dark.png") no-repeat center;
  }
  #unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url("progress-bar-full-dark.png") no-repeat center;
  }
  /* #unity-footer {
    position: relative;
  } */
  .unity-mobile #unity-footer {
    display: none;
  }
  #unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url("webgl-logo.png") no-repeat center;
  }
  #unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
  }
  #unity-fullscreen-button {
    float: right;
    width: 38px;
    height: 38px;
    background: url("fullscreen-button.png") no-repeat center;
  }
  #unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-gap: 2%;
    height: 100vh;
    margin-top: 40px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: auto;
    gap: 20px;
  }
  .description {
    padding: 15px;
    background-color: aqua;
    margin-bottom: auto;
    border-radius: 20px;
  }
  .contributors {
    padding: 15px;
    background-color: aqua;
    margin-bottom: auto;
    border-radius: 20px;
  }
  
  .middle {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 1308px){
      .wrapper {
          grid-template-columns: 100%;
          grid-template-rows: 642px auto;
        }
        .right{
  
         width: 50%;
         flex-direction: row;
         justify-self: center;
        }
        .description{
          width: 45%;
        }
        .contributors{
          width: 45%;
        }
  }